<!DOCTYPE html>
 <head>
  <meta charset="UTF-8"/>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>

  <title>NAUC.ME</title>

  <link rel="stylesheet" href="/res/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/res/css/panx-design.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
 </head>
 <body>
  <section class='content'>
   <div class='container' id="section1">
    <h1>NAUČ.MĚ</h1>
    <h4>SDÍLENÍ ZNALOSTÍ JEDNODUŠE</h4>
      <div class='buttons-container'>
        <a class='btn btn-rounded btn-primary' href='/login'>CHCI UČIT</a>
        <a class='btn btn-rounded btn-secondary' href="/list">CHCI SE NAUČIT</a><br>
        
      </div>
      <br>
      <a class='btn btn-rounded btn-warning' href='#section2'>Zjistit více o projektu</a>
   </div>

   <div id="section2">
    <div class="info" style="max-width: 1000px; margin: auto auto; margin-top: 100px;">
        <div class="info-text">Projekt NAUC.ME je přehledná stránka, díky které se můžete jednoduše dostat do kontaktu s lektory. NAUC.ME se věnuje sdílení různorodých zkušeností. Cílem tohoto projektu je shromáždění odborníků i nadšenců na jednom místě. Lektoři mohou své kurzy vést zdarma, nebo je zpoplatnit a získat tak možnost přivýdělku.</div> 
        <br><br>
        <div style="text-align: center">
            <a class='btn btn-primary btn-rounded' href='#'>ZPĚT</a>
        </div>
    </div>

   </div>

  </section>
 </body>
</html>