:root {
  --primary: #0055f4;
  --secondary: #4b5056;
  --success: #1bc722;
  --info: #00d0ff;
  --warning: #ffb300;
  --danger: #d6020d;
  --light: #f8f8f8;
  --dark: #20222b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f8f8;
}

.layout-content {
  /*max-width: 1280px;
    margin: auto auto;*/
}

.navbar {
  -webkit-box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
          box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
  height: 64px;
  line-height: 64px;
  background: white;
}

.navbar-fixed {
  position: fixed;
  right: 0;
  z-index: 100;
  left: 0;
  top: 0;
}

.navbar-fixed + .layout-container {
  margin-top: 64px;
}

.navbar-title {
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
  height: 64px;
}

.navbar-logo {
  display: inline-block;
  padding: 8px;
}

.navbar-logo img {
  height: 48px;
  width: auto;
}

.navbar-text {
  display: inline-block;
  vertical-align: top;
  line-height: 64px;
  font-weight: 300;
  color: #20222b;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 360px) {
  .navbar-text {
    /* display: none; */
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-mobile {
    right: 0 !important;
  }
}

.navbar-items {
  position: absolute;
  top: 0;
  right: 34px;
  /*+16 padding of .navbar-item*/
}

.navbar-items-mobile {
  display: block;
  overflow-x: auto;
  /* max-height: calc(100vh - 64px); */
  max-height: 0px;
  position: absolute;
  top: 64px;
  background: #fff;
  max-width: 100%;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  right: 0px;
  /*+16 padding of .navbar-item*/
  left: 0px;
  -webkit-box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
          box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.navbar-mobile {
  display: none;
  position: absolute;
  right: 34px;
  top: 0;
  line-height: 64px;
  font-size: 32px;
  cursor: pointer;
  width: 64px;
  text-align: center;
}

.navbar-item {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 200;
  cursor: pointer;
}

.navbar-item-active {
  font-weight: 300 !important;
}

.navbar-item:hover {
  font-weight: 300;
}

.navbar-item-mobile {
  display: block;
  text-align: center;
}

a.navbar-item {
  text-decoration: none;
  color: inherit;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .mobile-full-width {
    width: 100%;
    margin: 5px;
  }
  .centered {
    margin: auto auto;
    float: none;
  }
}

@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .centered {
    margin: auto auto;
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .centered {
    margin: auto auto;
    float: left;
  }
}

.main {
  color: #f8f8f8;
}

.main-title {
  font-weight: 300;
  font-size: 32px;
  padding-top: 120px;
  margin-left: 200px;
  font-family: 'Montserrat', sans-serif;
}

.main-subtitle {
  font-weight: 200;
  font-size: 20px;
  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .main-title {
    padding-top: 60px;
    margin-left: 50px;
    padding-right: 50px;
  }
  .main-subtitle {
    margin-left: 50px;
    padding-right: 50px;
  }
  .main-img {
    height: 350px !important;
  }
}

.main-img {
  margin-left: -1px;
  /*mobile phone bug fix*/
  width: calc(100% + 1px);
  height: 550px;
  background: url("wave-2.svg") no-repeat;
  background-size: cover;
}

/*color & box*/
.color-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto auto;
}

.box-preview {
  text-align: center;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
          box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.box-title {
  font-weight: 300;
  color: #20222b;
  padding: 10px;
}

.box-subtitle {
  font-weight: 200;
  color: #4b5056;
  padding: 2px;
}

.form-group {
  position: relative;
}

.form-group label {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.btn {
  color: white;
  font-weight: 300;
  padding: .75rem 1.25rem;
  font-size: .875rem;
  line-height: 1.125;
  border-radius: .375rem;
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.01, 0.4, 1.05);
  transition: all 250ms cubic-bezier(0.25, 0.01, 0.4, 1.05);
  background: transparent;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.btn-primary {
  color: #fff;
  border-color: #0055f4;
  background: #0055f4;
  /*?*/
  border: 1px solid #0055f4 !important;
}

.btn-primary:hover {
  color: #fff;
  background: #0049d0;
  border-color: #0049d0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 85, 244, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 85, 244, 0.25);
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 85, 244, 0.15), 0 3px 15px rgba(0, 85, 244, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(0, 85, 244, 0.15), 0 3px 15px rgba(0, 85, 244, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0055f4;
  border-color: #0055f4;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-primary:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-primary:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0049d0;
  border-color: #003cad;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-secondary {
  color: #fff;
  border-color: #4b5056;
  background: #4b5056;
  /*?*/
  border: 1px solid #4b5056 !important;
}

.btn-secondary:hover {
  color: #fff;
  background: #3a3e43;
  border-color: #3a3e43;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(75, 80, 86, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(75, 80, 86, 0.25);
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(75, 80, 86, 0.15), 0 3px 15px rgba(75, 80, 86, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(75, 80, 86, 0.15), 0 3px 15px rgba(75, 80, 86, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #4b5056;
  border-color: #4b5056;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-secondary:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-secondary:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #3a3e43;
  border-color: #2a2d30;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-success {
  color: #fff;
  border-color: #1bc722;
  background: #1bc722;
  /*?*/
  border: 1px solid #1bc722 !important;
}

.btn-success:hover {
  color: #fff;
  background: #17a81d;
  border-color: #17a81d;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(27, 199, 34, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(27, 199, 34, 0.25);
}

.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(27, 199, 34, 0.15), 0 3px 15px rgba(27, 199, 34, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(27, 199, 34, 0.15), 0 3px 15px rgba(27, 199, 34, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #1bc722;
  border-color: #1bc722;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-success:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-success:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #17a81d;
  border-color: #128817;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-info {
  color: #fff;
  border-color: #00d0ff;
  background: #00d0ff;
  /*?*/
  border: 1px solid #00d0ff !important;
}

.btn-info:hover {
  color: #fff;
  background: #00b3db;
  border-color: #00b3db;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 208, 255, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 208, 255, 0.25);
}

.btn-info:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 208, 255, 0.15), 0 3px 15px rgba(0, 208, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(0, 208, 255, 0.15), 0 3px 15px rgba(0, 208, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #00d0ff;
  border-color: #00d0ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-info:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-info:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #00b3db;
  border-color: #0096b8;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-warning {
  color: #fff;
  border-color: #ffb300;
  background: #ffb300;
  /*?*/
  border: 1px solid #ffb300 !important;
}

.btn-warning:hover {
  color: #fff;
  background: #db9a00;
  border-color: #db9a00;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(255, 179, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(255, 179, 0, 0.25);
}

.btn-warning:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 179, 0, 0.15), 0 3px 15px rgba(255, 179, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(255, 179, 0, 0.15), 0 3px 15px rgba(255, 179, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #ffb300;
  border-color: #ffb300;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-warning:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-warning:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #db9a00;
  border-color: #b88100;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-danger {
  color: #fff;
  border-color: #d6020d;
  background: #d6020d;
  /*?*/
  border: 1px solid #d6020d !important;
}

.btn-danger:hover {
  color: #fff;
  background: #b3020b;
  border-color: #b3020b;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(214, 2, 13, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(214, 2, 13, 0.25);
}

.btn-danger:focus, .btn-danger.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(214, 2, 13, 0.15), 0 3px 15px rgba(214, 2, 13, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(214, 2, 13, 0.15), 0 3px 15px rgba(214, 2, 13, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #d6020d;
  border-color: #d6020d;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-danger:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-danger:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b3020b;
  border-color: #8f0109;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-light {
  color: #20222b;
  border-color: #f8f8f8;
  background: #f8f8f8;
  /*?*/
  border: 1px solid #f8f8f8 !important;
}

.btn-light:hover {
  color: #20222b;
  background: #e6e6e6;
  border-color: #e6e6e6;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(248, 248, 248, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(248, 248, 248, 0.25);
}

.btn-light:focus, .btn-light.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(248, 248, 248, 0.15), 0 3px 15px rgba(248, 248, 248, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(248, 248, 248, 0.15), 0 3px 15px rgba(248, 248, 248, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-light.disabled, .btn-light:disabled {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-light:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-light:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-light.dropdown-toggle {
  color: #20222b;
  background-color: #e6e6e6;
  border-color: #d4d4d4;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-dark {
  color: #fff;
  border-color: #20222b;
  background: #20222b;
  /*?*/
  border: 1px solid #20222b !important;
}

.btn-dark:hover {
  color: #fff;
  background: #111217;
  border-color: #111217;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(32, 34, 43, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(32, 34, 43, 0.25);
}

.btn-dark:focus, .btn-dark.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(32, 34, 43, 0.15), 0 3px 15px rgba(32, 34, 43, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(32, 34, 43, 0.15), 0 3px 15px rgba(32, 34, 43, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-dark.disabled, .btn-dark:disabled {
  background-color: #20222b;
  border-color: #20222b;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-dark:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-dark:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #111217;
  border-color: #020202;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-white {
  color: #20222b;
  border-color: #fff;
  background: #fff;
  /*?*/
}

.btn-white:hover {
  color: #20222b;
  background: #ededed;
  border-color: #ededed;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(255, 255, 255, 0.25);
}

.btn-white:focus, .btn-white.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15), 0 3px 15px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15), 0 3px 15px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-white.disabled, .btn-white:disabled {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-white:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-white:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-white.dropdown-toggle {
  color: #20222b;
  background-color: #ededed;
  border-color: #dbdbdb;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-black {
  color: #fff;
  border-color: #000;
  background: #000;
  /*?*/
}

.btn-black:hover {
  color: #fff;
  background: black;
  border-color: black;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-black:focus, .btn-black.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-black.disabled, .btn-black:disabled {
  background-color: #000;
  border-color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-black:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-black:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-black.dropdown-toggle {
  color: #fff;
  background-color: black;
  border-color: black;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-primary {
  background-color: transparent;
  background-image: none;
  border: solid 1px #0055f4;
  color: #0055f4;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #0055f4;
  border-color: #0055f4;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 85, 244, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 85, 244, 0.25);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 85, 244, 0.15), 0 3px 15px rgba(0, 85, 244, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(0, 85, 244, 0.15), 0 3px 15px rgba(0, 85, 244, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0055f4;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-primary:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0055f4;
  border-color: #0055f4;
}

.btn-outline-primary:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-primary:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-secondary {
  background-color: transparent;
  background-image: none;
  border: solid 1px #4b5056;
  color: #4b5056;
}

.btn-outline-secondary:hover {
  color: white;
  background-color: #4b5056;
  border-color: #4b5056;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(75, 80, 86, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(75, 80, 86, 0.25);
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(75, 80, 86, 0.15), 0 3px 15px rgba(75, 80, 86, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(75, 80, 86, 0.15), 0 3px 15px rgba(75, 80, 86, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #4b5056;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-secondary:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #4b5056;
  border-color: #4b5056;
}

.btn-outline-secondary:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-success {
  background-color: transparent;
  background-image: none;
  border: solid 1px #1bc722;
  color: #1bc722;
}

.btn-outline-success:hover {
  color: white;
  background-color: #1bc722;
  border-color: #1bc722;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(27, 199, 34, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(27, 199, 34, 0.25);
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(27, 199, 34, 0.15), 0 3px 15px rgba(27, 199, 34, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(27, 199, 34, 0.15), 0 3px 15px rgba(27, 199, 34, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #1bc722;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-success:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-success:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #1bc722;
  border-color: #1bc722;
}

.btn-outline-success:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-success:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-info {
  background-color: transparent;
  background-image: none;
  border: solid 1px #00d0ff;
  color: #00d0ff;
}

.btn-outline-info:hover {
  color: white;
  background-color: #00d0ff;
  border-color: #00d0ff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 208, 255, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 208, 255, 0.25);
}

.btn-outline-info:focus, .btn-outline-info.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 208, 255, 0.15), 0 3px 15px rgba(0, 208, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(0, 208, 255, 0.15), 0 3px 15px rgba(0, 208, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #00d0ff;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-info:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-info:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #00d0ff;
  border-color: #00d0ff;
}

.btn-outline-info:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-info:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-warning {
  background-color: transparent;
  background-image: none;
  border: solid 1px #ffb300;
  color: #ffb300;
}

.btn-outline-warning:hover {
  color: white;
  background-color: #ffb300;
  border-color: #ffb300;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(255, 179, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(255, 179, 0, 0.25);
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 179, 0, 0.15), 0 3px 15px rgba(255, 179, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(255, 179, 0, 0.15), 0 3px 15px rgba(255, 179, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffb300;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-warning:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-warning:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #ffb300;
  border-color: #ffb300;
}

.btn-outline-warning:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-warning:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-danger {
  background-color: transparent;
  background-image: none;
  border: solid 1px #d6020d;
  color: #d6020d;
}

.btn-outline-danger:hover {
  color: white;
  background-color: #d6020d;
  border-color: #d6020d;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(214, 2, 13, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(214, 2, 13, 0.25);
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(214, 2, 13, 0.15), 0 3px 15px rgba(214, 2, 13, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(214, 2, 13, 0.15), 0 3px 15px rgba(214, 2, 13, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #d6020d;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-danger:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-danger:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d6020d;
  border-color: #d6020d;
}

.btn-outline-danger:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-danger:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-light {
  background-color: transparent;
  background-image: none;
  border: solid 1px #f8f8f8;
  color: #f8f8f8;
}

.btn-outline-light:hover {
  color: white;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(248, 248, 248, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(248, 248, 248, 0.25);
}

.btn-outline-light:focus, .btn-outline-light.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(248, 248, 248, 0.15), 0 3px 15px rgba(248, 248, 248, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(248, 248, 248, 0.15), 0 3px 15px rgba(248, 248, 248, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f8f8f8;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-light:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-light:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #20222b;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}

.btn-outline-light:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-light:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-dark {
  background-color: transparent;
  background-image: none;
  border: solid 1px #20222b;
  color: #20222b;
}

.btn-outline-dark:hover {
  color: white;
  background-color: #20222b;
  border-color: #20222b;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(32, 34, 43, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(32, 34, 43, 0.25);
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(32, 34, 43, 0.15), 0 3px 15px rgba(32, 34, 43, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(32, 34, 43, 0.15), 0 3px 15px rgba(32, 34, 43, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #20222b;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-dark:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-dark:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #20222b;
  border-color: #20222b;
}

.btn-outline-dark:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-dark:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-white {
  background-color: transparent;
  background-image: none;
  border: solid 1px #fff;
  color: #fff;
  color: #fff;
}

.btn-outline-white:hover {
  color: white;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(255, 255, 255, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(255, 255, 255, 0.25);
}

.btn-outline-white:focus, .btn-outline-white.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15), 0 3px 15px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15), 0 3px 15px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-white:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-white:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-white.dropdown-toggle {
  color: #20222b;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-white:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-white:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active {
  color: #000;
}

.btn-outline-black {
  background-color: transparent;
  background-image: none;
  border: solid 1px #000;
  color: #000;
  color: #000;
}

.btn-outline-black:hover {
  color: white;
  background-color: #000;
  border-color: #000;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-outline-black:focus, .btn-outline-black.focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 15px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn-outline-black.disabled, .btn-outline-black:disabled {
  color: #000;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-black:not(:disabled):not(.disabled):not(.btn-riddle):active, .btn-outline-black:not(:disabled):not(.disabled):not(.btn-riddle).active,
.show > .btn-outline-black.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-black:not(:disabled):not(.disabled):not(.btn-riddle):active:focus, .btn-outline-black:not(:disabled):not(.disabled):not(.btn-riddle).active:focus,
.show > .btn-outline-black.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-black:not(:disabled):not(.disabled):active, .btn-outline-black:not(:disabled):not(.disabled).active {
  color: #fff;
}

.btn-icon {
  padding: 11px;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  line-height: 20.5px;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

/*
=============================================================
*/
/*









.btn {
    color: white;
    font-weight: 300;
    padding: .75rem 1.25rem;
    font-size: .875rem;
    line-height: 1.125;
    border-radius: .375rem;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    background: transparent;
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-squared {
    border-radius: 0;
}
.btn-rounded {
    border-radius: 50px;
}
.btn-icon {
    padding: 12px;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    text-align: center;
}
.btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
}
.btn-primary:hover, .btn-outline-primary:hover {
    color:#fff;
    background-color:#0050e6;
    border-color:#0050e6;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(0,123,255,.25);
}
.btn-primary:focus, .btn-outline-primary:focus {
    box-shadow:0 0 0 3px rgba(0,123,255,.15),0 3px 15px rgba(0,123,255,.2),0 2px 5px rgba(0,0,0,.1);
}
.btn-secondary {
    background: var(--secondary);
    border: 1px solid var(--secondary);
}
.btn-secondary:hover, .btn-outline-secondary:hover {
    color:#fff;
    background-color:#3f4347;
    border-color:#3f4347;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(90,97,105,.25)
}
.btn-secondary:focus, .btn-outline-secondary:focus {
    box-shadow:0 0 0 3px rgba(90,97,105,.15),0 3px 15px rgba(90,97,105,.2),0 2px 5px rgba(0,0,0,.1);
}
.btn-success {
    background: var(--success);    
    border: 1px solid var(--success);
}
.btn-success:hover, .btn-outline-success:hover {
    color:#fff;
    background-color:#19b61e;
    border-color:#19b61e;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(23,198,113,.25)
}
.btn-success:focus, .btn-outline-success:focus {
    box-shadow:0 0 0 3px rgba(23,198,113,.15),0 3px 15px rgba(23,198,113,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-danger {
    background: var(--danger);
    border: 1px solid var(--danger);
}
.btn-danger:hover, .btn-outline-danger:hover{
    color:#fff;
    background-color:#c0000a;
    border-color:#c0000a;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(196,24,60,.25)
}
.btn-danger:focus, .btn-outline-danger:focus{
    box-shadow:0 0 0 3px rgba(196,24,60,.15),0 3px 15px rgba(196,24,60,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-warning {
    background: var(--warning);
    border: 1px solid var(--warning);
}
.btn-warning:hover, .btn-outline-warning:hover {
    color:#fff;
    background-color:#eba400;
    border-color:#eba400;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(255,180,0,.25)
}
.btn-warning:focus, .btn-outline-warning:focus {
    box-shadow:0 0 0 3px rgba(255,180,0,.15),0 3px 15px rgba(255,180,0,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-info {
    background: var(--info);
    border: 1px solid var(--info);
}
.btn-info:hover, .btn-outline-info:hover{
    color:#fff;
    background-color:#009de6;
    border-color:#009de6;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(0,184,216,.25)
}
.btn-info:focus, .btn-outline-info:focus {
    box-shadow:0 0 0 3px rgba(0,184,216,.15),0 3px 15px rgba(0,184,216,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-light {
    color:var(--dark);
    background: var(--light);
    border: 1px solid var(--light);
}
.btn-light:hover, .btn-outline-light:hover {
    color:var(--dark);
    background-color:#e7e7e7;
    border-color: #e7e7e7;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(233,236,239,.25)
}
.btn-light:focus, .btn-outline-light:focus {
    box-shadow:0 0 0 3px rgba(233,236,239,.15),0 3px 15px rgba(233,236,239,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-dark {
    background: var(--dark);
    border: 1px solid var(--dark);
}
.btn-dark:hover, .btn-outline-dark:hover {
    color:#fff;
    background-color:#16171d;
    border-color: #16171d;
    box-shadow:0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(33,37,41,.25)
}
.btn-dark:focus, .btn-outline-dark:focus {
    box-shadow:0 0 0 3px rgba(33,37,41,.15),0 3px 15px rgba(33,37,41,.2),0 2px 5px rgba(0,0,0,.1)
}
.btn-outline-primary {
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-outline-secondary {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.btn-outline-success {
    color: var(--success);
    border: 1px solid var(--success);
}
.btn-outline-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
}
.btn-outline-warning {
    color: var(--warning);
    border: 1px solid var(--warning);
}
.btn-outline-info {
    color: var(--info);
    border: 1px solid var(--info);
}
.btn-outline-light {
    color: var(--dark);
    border: 1px solid var(--light);
}
.btn-outline-dark {
    color: var(--dark);
    border: 1px solid var(--dark);
}*/
.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #d9d9d9;
}

.file-upload-wrapper:hover {
  border-bottom: 2px solid #4b5056;
}

.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
}

.file-upload-wrapper:before {
  content: 'Upload';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  background: transparent;
  color: #4b5056;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
  color: #4b5056;
}

.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.wrapper-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}

.wrapper-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.4em;
  vertical-align: top;
  clear: both;
  margin-left: 5px;
}

.wrapper-checkbox label:not(:empty) {
  padding-left: 0.75em;
}

.wrapper-checkbox label:before,
.wrapper-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper-checkbox label:before {
  padding: 0;
  margin: 0;
  width: 1.10em;
  height: 1.05em;
  background: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.wrapper-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.wrapper-checkbox input[type="checkbox"]:checked + label:before {
  background: #0055f4;
  width: 1.35em;
  height: 1.30em;
  border: none;
}

.wrapper-checkbox input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(0.25em, 0.33654em) rotate(-45deg);
          transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

.form-input {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  border-bottom: 2px solid #d9d9d9;
  display: block;
  width: 100%;
  height: 41px;
  background: transparent;
  padding: 0 7px 0 7px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input {
  outline: none;
  border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

.form-input:focus {
  border-bottom: 2px solid #4b5056 !important;
}

.has-val {
  border-bottom: 2px solid #4b5056 !important;
}

.valid-val {
  border-bottom: 2px solid #1bc722 !important;
}

.invalid-val {
  border-bottom: 2px solid #d6020d !important;
}

.input-error {
  color: #d6020d;
  margin-top: 5px;
}

select {
  outline: none;
  border: none;
}

.wrapper-input {
  width: 100%;
  position: relative;
  margin-bottom: 23px;
}

.label-input {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  border-bottom: 2px solid #d9d9d9;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

.input:focus {
  border-bottom: 2px solid #4b5056 !important;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 0;
  pointer-events: none;
}

.focus-input::after {
  color: #4b5056;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input-icon {
  position: relative;
  top: 30px;
  left: 8px;
  color: #d9d9d9;
  font-size: 26px !important;
}

.input:focus + .focus-input > .input-icon {
  color: #4b5056 !important;
}

.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
}

.radio input {
  display: none;
}

.radio input + span {
  line-height: 20px;
  height: 20px;
  padding-left: 20px;
  display: block;
  position: relative;
}

.radio input + span:not(:empty) {
  padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

.radio input + span:before {
  background: #d9d9d9;
  transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
  transform: scale(0.78);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  background: var(--primary);
}

.radio input:checked + span:after {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  transition: -webkit-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.radio:hover input + span:before {
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}

.radio:hover input + span:after {
  -webkit-transform: scale(0.74);
  transform: scale(0.74);
}

.radio:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--primary);
          box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h1 {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

.form-title {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
          box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.card-header img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  padding: 25px 25px 10px 25px;
  font-size: 24px;
  font-weight: 500;
}

.card-text {
  padding: 0px 25px 8px 25px;
  font-weight: 300;
  font-size: 0.9rem;
}

.card-actions {
  padding: 20px 25px 25px 25px;
}

.pull-right {
  float: right;
}

.np {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .pr15 {
    padding-right: 15px;
  }
  .pl15 {
    padding-left: 15px;
  }
}
/*# sourceMappingURL=panx-design.css.map */